UserInterfaceState.xcuserstate

/JumpStart-iOS.xcodeproj/project.xcworkspace/xcuserdata/adamcsmith.xcuserdatad/UserInterfaceState.xcuserstate

/JumpStart-iOS.xcodeproj/project.xcworkspace/xcshareddata/

/JumpStart-iOS.xcodeproj/xcuserdata/adamcsmith.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
